<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <jmxConfigurator/>-->
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <contextName>mcp-server</contextName>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="LOKI" />
    </root>
</configuration>